nav-wrapper {
  background-color: #FA824C; }

.material-icons {
  margin: auto auto auto 15px; }

#code-icon {
  font-size: 50px; }

.text-nav {
  font-family: 'Raleway', sans-serif; }
  
@media screen and (min-width: 993px) {
  .row-container-button-float {
    margin: 0% 0px 0px 0px !important;
    padding: 0px !important;
    position: absolute; }

  .collapsible-button-float {
    width: 90px !important;
    height: 30px !important;
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    bottom: 15%;
    left: 90%;
    z-index: 2; }

  .collapsible-header-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 90px !important;
    height: 30px !important;
    margin: 0px;
    padding: 0px; }

  .collapsible-body-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; }

  .button-float-contact {
    border-width: 0px !important;
    margin: -100% 0% 0% -90% !important;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .row-container-button-float {
    margin: 0% 0% 0% 0% !important;
    padding: 0px !important;
    position: absolute; }

  .collapsible-button-float {
    width: 90px !important;
    height: 30px !important;
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    bottom: 15%;
    left: 90%;
    z-index: 2; }

  .collapsible-header-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 90px !important;
    height: 30px !important;
    margin: 0px;
    padding: 0px; }

  .collapsible-body-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; }

  .button-float-contact {
    border-width: 0px !important;
    margin: -100% 0% 0% -90% !important;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; } }
@media screen and (max-width: 767px) {
  .row-container-button-float {
    margin: 0% 0% 0% 0% !important;
    padding: 0px !important;
    position: absolute; }

  .collapsible-button-float {
    width: 90px !important;
    height: 30px !important;
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: fixed;
    bottom: 15%;
    left: 83%;
    z-index: 2; }

  .collapsible-header-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 90px !important;
    height: 30px !important;
    margin: 0px;
    padding: 0px; }

  .collapsible-body-button-float {
    box-shadow: none !important;
    border-width: 0px !important;
    background-color: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; }

  .button-float-contact {
    border-width: 0px !important;
    margin: -145% 0% 0% -90% !important;
    padding: 0px 0px 0px 0px;
    transition: 0ms !important; } }


@media screen and (min-width: 993px) {
body {
  margin: 0px !important;
  padding: 0px !important; }

#contact {
  background-color: #577399;
  margin: 0px !important;
  padding: 0px !important;
  height: 100%; }

.text-contact-principal {
  font-family: 'Raleway', sans-serif;
  font-size: 5.5em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #FAFFFD;
  padding-bottom: .5em;
  color: #FAFFFD; }

.text-contact-principal-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: bold; }

.row-container-text-contact {
  width: 30em;
  height: 100%; }

.col-container-text-contact {
  border: 1px solid #342E37;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 5px #342E37;
  text-align: center;
  background-color: #FAFFFD; }

.item-contact {
  font-size: 40px; }

.text-contact-h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #342E37; }

.text-contact-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold; }

.text-contact-p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #2195F2;
  color: #2195F2; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
body {
  margin: 0px !important;
  padding: 0px !important; }

#contact {
  background-color: #577399;
  height: 100%; }

.text-contact-principal {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #FAFFFD;
  padding-bottom: .5em;
  color: #FAFFFD; }

.text-contact-principal-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: bold; }

.row-container-text-contact {
  width: 30em; }

.col-container-text-contact {
  border: 1px solid #342E37;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 5px #342E37;
  text-align: center;
  background-color: #FAFFFD; }

.item-contact {
  font-size: 40px; }

.text-contact-h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #342E37; }

.text-contact-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold; }

.text-contact-p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #2195F2;
  color: #2195F2; } }
@media screen and (max-width: 767px) {
body {
  margin: 0px !important;
  padding: 0px !important; }

#contact {
  background-color: #577399;
  height: 100%; }

.text-contact-principal {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #FAFFFD;
  padding-bottom: .5em;
  color: #FAFFFD; }

.text-contact-principal-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: bold; }

.row-container-text-contact {
  width: 20em; }

.col-container-text-contact {
  border: 1px solid #342E37;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 5px #342E37;
  text-align: center;
  background-color: #FAFFFD; }

.item-contact {
  font-size: 40px; }

.text-contact-h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: #342E37; }

.text-contact-span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold; }

.text-contact-p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #2195F2;
  color: #2195F2; } }
